body, html {
    padding:0;
    margin:0;
    background-color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
}

    .container {
        background-color: #eee;
    }

    .item{
        opacity:1;
        cursor: pointer;
        background-color: #7971ea;
        border: 5px solid #443ea0;
        border-radius:8px;
        margin:20px;
        padding:30px;
        color: white;
        font-size:24px;
        text-align: center;
    }
    .item:hover{
        opacity: 0.7;
    }